html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  background: linear-gradient(135deg, #6398e7 0%, #f7e94c 100%);
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 0;
  overflow: auto;
  scroll-snap-type: none;
  padding: 0;
  background: transparent;
}

.slider {
  flex: 0 0;
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: none;
}

.card.intro-card {
  display: block;
}

.card {
  box-sizing: border-box;
  width: 90%;
  height: 90%;

  background:
    linear-gradient(to right, rgba(197, 240, 6, 0.1), rgba(158, 238, 28, 0.5)) padding-box;

  border: 1vh solid transparent;
  
  border-radius: 6vh;
  padding: 3vh;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card picture {
  height: 100%;
  display: flex;
  align-items: center;
}

.card img {
  height: 90%;
  width: auto;
  max-width: 100%;
  margin: 3vh;
  object-fit: cover;
  display: block;
  border-radius: 3vh;
}

.card .card-text {
  flex: 1 1 0;
  height: 90%;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* overflow-y: auto; */
  /* Commenting out the overflow-y property */
}

.card .card-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card .card-subtitle {
  font-size: 1.2rem;
  margin: 0;
  opacity: 0.8;
}

.card .card-desc {
  margin-top: 0.25rem;
  line-height: 1.5;
  overflow-y: auto;
  max-height: 100%;
}

/* Gomb (ha van) */
.card .card-btn {
  justify-self: start;
  margin-top: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/*.cards {
  box-shadow: inset 0 0 0 3px #05d7f3;
}

.slider {
  box-shadow: inset 0 0 0 3px #e3f305;
}

.card {
  box-shadow: inset 0 0 0 3px #04f110;
}*/